@model IEnumerable<CourseProjectItr.Models.Collection>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <tr><td></td><td>Collection name</td><td>Theme</td><td>Description</td><td></td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Avatar" alt="Avatar" width="45" />
                </td>
                <td>
                    <a asp-action="CollectionItems" asp-controller="Collections" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    <label>@item.Theme</label>
                </td>
                <td>
                    <label>@item.Description</label>
                </td>
            </tr>
        }
    </table>
</div>
