@model IEnumerable<CourseProjectItr.Models.Collection>

@if (Model.ToList().Count > 0)
{
    <div>@Model.First().OwnerEmail</div>
}

<head>
    <link rel="stylesheet" href="~/css/tagify.css" />
    <script src="~/js/tagify.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tags.js"></script>
    <script src="~/js/search.js"></script>
</head>

<input type="text" id="text-to-find" onkeyup="Search()" value="" placeholder="Search" class="m-3">

<a asp-action="CreateCollection" asp-route-userName="@ViewBag.userName" class="btn btn-primary m-2">Create collection</a>
<table class="table" id="collectionsTable">
    <tr><td></td><td>Collection name</td><td>Theme</td><td>Description</td><td></td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.Avatar" alt="Avatar" width="45" />
            </td>
            <td>
                <a asp-action="CollectionItems" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td>
                <input value="@item.Theme" id="@item.Id" readonly />
                <script>
                        var input = document.querySelector('input[id="@item.Id"]'),
                            tagify = new Tagify(input, {
                            })
                </script>
            </td>
            <td>
                <label>@item.Description</label>
            </td>
            <td>
                <a asp-controller="Collections" asp-action="Add" asp-route-id="@item.Id" class="btn btn-primary">Add</a>
                <a asp-action="DeleteCollection" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

