@model IEnumerable<CourseProjectItr.Models.FileModel>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/collectionItems.css" />
    <link rel="stylesheet" href="~/css/tagify.css" />
    <script src="~/js/tagify.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tags.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha512-7KzSt4AJ9bLchXCRllnyYUDjfhO2IFEWSa+a5/3kPGQbr+swRTorHQfyADAhSlVHCs1bpFdB1447ZRzFyiiXsg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css" integrity="sha512-3eoKq7cU6gdVeT+6eL40YcJLD8dxzQmOK54qxUWVjg7H4NN3u5AA5k5ywrqLV15hOZDBBgdQH/GK5CA9MwDVwg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.js" integrity="sha512-FbW9TrdqAZVgIOrQeqDRnCe+l0g+aMBP7pWEt/zLWx8zgafpBwvJ6F1rsU+mkvbXuB4mBwS2ehlkZHE9cknTrg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" integrity="sha512-NVt7pmp5f+3eWRPO1h4A1gCf4opn4r5z2wS1mi7AaVcTzE9wDJ6RzMqSygjDzYHLp+mAJ2/qzXXDHar6IQwddQ==" crossorigin="anonymous" />
</head>
<body>
    @*<form method="get">
        <div class="row form-group">
            <div class="m-3">
                <input name="id" class="form-control" value="@ViewBag.id" />
                <input name="searchText" class="form-control" />
            </div>
            <div class="m-3">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </form>*@
    <div>
        <a asp-action="UserCollectionsList" asp-route-name="@ViewBag.userName">&#8592 Collections</a>
        @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
        {
            <a asp-action="Add" asp-route-id="@ViewBag.id" class="btn btn-primary m-1">Add item</a>
        }
    </div>

    @foreach (var item in Model)
    {
        <div class="align-top d-inline-block">
            <div hidden id="hidden_@item.Id">
                <div class="align-top d-inline-block">
                    <input value="@item.Tags" id="@item.Id" readonly />
                    <script>
                        var input = document.querySelector('input[id="@item.Id"]'),
                            tagify = new Tagify(input, {
                            })
                    </script>
                </div>
            </div>
            <div>
                @if (ViewBag.imageExtensions.Contains(System.IO.Path.GetExtension($"~/files/{@item.FilePath}")))
                {
                <div class="align-top d-inline-block collection-item baguetteBoxOne">
                    <a href="@item.FilePath">
                        <img src="@item.FilePath" width="220" />
                    </a>

                    @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                    {
                        <a class="delete-btn btn btn-danger" asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a>
                    }
                    <a class="tags btn btn-primary" onclick="DisplayTags('hidden_@item.Id')">Tags</a>
                    <a class="menu btn btn-primary" asp-action="Item" asp-route-id="@item.Id">Page</a>
                </div>

                }
                else if (ViewBag.audioExtensions.Contains(System.IO.Path.GetExtension($"~/files/{@item.FilePath}")))
                {
                    <div class="d-inline-block align-top text-center">
                        <div class="collection-item">
                            <img src="~/files/MusicImageCollectionItem.jpg" width="200" />
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a>
                            }
                            <a class="tags btn btn-primary" onclick="DisplayTags('hidden_@item.Id')">Tags</a>
                            <a class="menu btn btn-primary" asp-action="Item" asp-route-id="@item.Id">Page</a>
                        </div>
                        <div>
                            <audio controls>
                                <source src="~/files/@item.FilePath" />
                            </audio>
                        </div>
                    </div>
                }
                else if (ViewBag.textExtensions.Contains(System.IO.Path.GetExtension($"~/files/{@item.FilePath}")))
                {
                    <div class="d-inline-block">
                        <div class="text-center collection-item">
                            <img src="~/files/fileIconInCollection.png" width="220" />
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a>
                            }
                            <a class="tags btn btn-primary" onclick="DisplayTags('hidden_@item.Id')">Tags</a>
                            <a class="menu btn btn-primary" asp-action="Item" asp-route-id="@item.Id">Page</a>
                        </div>
                        <div class="text-center">
                            <a href="~/files/@item.FilePath">@item.FilePath</a>
                        </div>
                    </div>
                }
                else if (ViewBag.videoExtensions.Contains(System.IO.Path.GetExtension($"~/files/{@item.FilePath}")))
                {
                    <div class="d-inline-block">
                        <div class="text-center collection-item">
                            <video src="@item.FilePath" controls width="390"></video>
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a>
                            }
                            <a class="tags btn btn-primary" onclick="DisplayTags('hidden_@item.Id')">Tags</a>
                            <a class="menu btn btn-primary" asp-action="Item" asp-route-id="@item.Id">Page</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-inline-block">
                        <div class="text-center collection-item">
                            <iframe src="~/files/@item.FilePath" width="390"></iframe>
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a>
                            }
                            <a class="tags btn btn-primary" onclick="DisplayTags('hidden_@item.Id')">Tags</a>
                            <a class="menu btn btn-primary" asp-action="Item" asp-route-id="@item.Id">Page</a>
                        </div>
                    </div>

                }
            </div>
        </div>


    }

    <script>
        window.addEventListener('load', function () {
            baguetteBox.run('.baguetteBoxOne');
        });
    </script>
</body>