@model CourseProjectItr.Models.FileModel

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/collectionItems.css" />
    <link rel="stylesheet" href="~/css/tagify.css" />
    <script src="~/js/tagify.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tags.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha512-7KzSt4AJ9bLchXCRllnyYUDjfhO2IFEWSa+a5/3kPGQbr+swRTorHQfyADAhSlVHCs1bpFdB1447ZRzFyiiXsg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css" integrity="sha512-3eoKq7cU6gdVeT+6eL40YcJLD8dxzQmOK54qxUWVjg7H4NN3u5AA5k5ywrqLV15hOZDBBgdQH/GK5CA9MwDVwg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.js" integrity="sha512-FbW9TrdqAZVgIOrQeqDRnCe+l0g+aMBP7pWEt/zLWx8zgafpBwvJ6F1rsU+mkvbXuB4mBwS2ehlkZHE9cknTrg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" integrity="sha512-NVt7pmp5f+3eWRPO1h4A1gCf4opn4r5z2wS1mi7AaVcTzE9wDJ6RzMqSygjDzYHLp+mAJ2/qzXXDHar6IQwddQ==" crossorigin="anonymous" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/likes.js"></script>
</head>
@if (Model != null)
{
    <body>
        <form method="post" asp-action="EditItem" asp-controller="Collections">
            <div>
                <div class="align-top d-inline-block">
                    <input asp-for="Tags" id="@Model.Id" class="form-control" />
                    <script>
                    var input = document.querySelector('input[id="@Model.Id"]'),
                        tagify = new Tagify(input, {
                        })
                    </script>
                </div>
            </div>
            <div class="d-inline-block align-top">
                <div class="mt-2">
                    <input asp-for="FileName" class="form-control" />
                </div>
                <div hidden>
                    <input asp-for="CollectionId" class="form-control" />
                </div>
                <div hidden>
                    <input asp-for="FilePath" class="form-control" />
                </div>
                <div hidden>
                    <input asp-for="Id" class="form-control" />
                </div>

                @if (ViewBag.imageExtensions.Contains(System.IO.Path.GetExtension($"~/files/{Model.FilePath}")))
                {
                    <div class="align-top d-inline-block collection-item baguetteBoxOne">
                        <a href="@Model.FilePath">
                            <img src="@Model.FilePath" width="220" />
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <input type="button" class="like_btn btn btn-success" id="like_@Model.Id" onclick="likeclick('@Model.Id', '@Model.LikesNumber')" value="Like @Model.LikesNumber" />
                        } 
                        @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                        {
                            <a class="delete-btn btn btn-danger" asp-action="DeleteItem" asp-route-id="@Model.Id">Delete</a>
                        }
                    </div>
                }
                else if (ViewBag.audioExtensions.Contains(System.IO.Path.GetExtension($"~/files/{Model.FilePath}")))
                {
                    <div class="d-inline-block align-top text-center">
                        <div class="collection-item">
                            <img src="~/files/MusicImageCollectionItem.jpg" width="200" />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="button" class="like_btn btn btn-success" id="like_@Model.Id" onclick="likeclick('@Model.Id', '@Model.LikesNumber')" value="Like @Model.LikesNumber" />
                            }
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@Model.Id">Delete</a>
                            }
                        </div>
                        <div>
                            <audio controls>
                                <source src="~/files/@Model.FilePath" />
                            </audio>
                        </div>
                    </div>
                }
                else if (ViewBag.textExtensions.Contains(System.IO.Path.GetExtension($"~/files/{Model.FilePath}")))
                {
                    <div class="d-inline-block">
                        <div class="text-center collection-item">
                            <img src="~/files/fileIconInCollection.png" width="220" />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="button" class="like_btn btn btn-success" id="like_@Model.Id" onclick="likeclick('@Model.Id', '@Model.LikesNumber')" value="Like @Model.LikesNumber" />
                            }
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@Model.Id">Delete</a>
                            }
                        </div>
                        <div class="text-center">
                            <a href="~/files/@Model.FilePath">@Model.FilePath</a>
                        </div>
                    </div>
                }
                else if (ViewBag.videoExtensions.Contains(System.IO.Path.GetExtension($"~/files/{Model.FilePath}")))
                {
                    <div class="d-inline-block">
                        <div class="text-center collection-item">
                            <video src="@Model.FilePath" controls width="390"></video>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="button" class="like_btn btn btn-success" id="like_@Model.Id" onclick="likeclick('@Model.Id', '@Model.LikesNumber')" value="Like @Model.LikesNumber" />
                            }
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@Model.Id">Delete</a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-inline-block">
                        <div class="text-center collection-item">
                            <iframe src="~/files/@Model.FilePath" width="390"></iframe>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="button" class="like_btn btn btn-success" id="like_@Model.Id" onclick="likeclick('@Model.Id', '@Model.LikesNumber')" value="Like @Model.LikesNumber" />
                            }
                            @if (ViewBag.userName == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a class="delete-btn btn bg-danger" asp-action="DeleteItem" asp-route-id="@Model.Id">Delete</a>
                            }
                        </div>
                    </div>
                }
            </div>

            <div class="d-inline-block">
                <div class="d-inline-block">
                    @if (ViewBag.collection.IntField1)
                    {
                        <div class="form-group">
                            <label class="control-label">Required numeric value 1</label>
                            <input asp-for="IntField1" type="number" class="form-control" />
                        </div>
                    }
                    else if (ViewBag.collection.IntField2)
                    {
                        <div class="form-group">
                            <label asp-for="IntField2" class="control-label">Required numeric value 2</label>
                            <input asp-for="IntField2" type="number" class="form-control" />
                        </div>
                    }
                    else if (ViewBag.collection.IntField3)
                    {
                        <div class="form-group">
                            <label asp-for="IntField3" class="control-label">Required numeric value 3</label>
                            <input asp-for="IntField3" type="number" class="form-control" />
                        </div>
                    }
                    
                </div>
                <div class="d-inline-block">
                    @if (ViewBag.collection.OneLineField1)
                    {
                        <div class="form-group">
                            <label asp-for="OneLineField1" class="control-label">Required one line value 1</label>
                            <input asp-for="OneLineField1" type="text" class="form-control" />
                        </div>
                    }
                    @if (ViewBag.collection.OneLineField2)
                    {
                        <div class="form-group">
                            <label asp-for="OneLineField2" class="control-label">Required one line value 2</label>
                            <input asp-for="OneLineField2" type="text" class="form-control" />
                        </div>
                    }
                    @if (ViewBag.collection.OneLineField3)
                    {
                        <div class="form-group">
                            <label asp-for="OneLineField3" class="control-label">Required one line value 3</label>
                            <input asp-for="OneLineField3" type="text" class="form-control" />
                        </div>
                    }
                    
                </div>
                <div class="d-inline-block">
                    @if (ViewBag.collection.TextField1)
                    {
                        <div class="form-group">
                            <label asp-for="TextField1" class="control-label">Required text value 1</label>
                            <textarea asp-for="TextField1" type="text" class="form-control"></textarea>
                        </div>
                    }
                    @if (ViewBag.collection.TextField2)
                    {
                        <div class="form-group">
                            <label asp-for="TextField2" class="control-label">Required text value 2</label>
                            <textarea asp-for="TextField2" type="text" class="form-control"></textarea>
                        </div>
                    }
                    @if (ViewBag.collection.TextField3)
                    {
                        <div class="form-group">
                            <label asp-for="TextField3" class="control-label">Required text value 3</label>
                            <textarea asp-for="TextField3" type="text" class="form-control"></textarea>
                        </div>
                    }
                </div>
                <div class="d-inline-block">
                    @if (ViewBag.collection.DateField1)
                    {
                        <div class="form-group">
                            <label asp-for="DateField1" class="control-label">Required date value 1</label>
                            <input asp-for="DateField1" type="date" class="form-control" />
                        </div>
                    }
                    @if (ViewBag.collection.DateField2)
                    {
                        <div class="form-group">
                            <label asp-for="DateField2" class="control-label">Required date value 2</label>
                            <input asp-for="DateField2" type="date" class="form-control" />
                        </div>
                    }
                    @if (ViewBag.collection.DateField3)
                    {
                        <div class="form-group">
                            <label asp-for="DateField3" class="control-label">Required date value 3</label>
                            <input asp-for="DateField3" type="date" class="form-control" />
                        </div>
                    }
                </div>
                <div class="d-inline-block">
                    <div class="form-check">
                        @if (ViewBag.collection.BoolField1)
                        {
                            <div class="form-group">
                                <input asp-for="BoolField1" type="checkbox" class="form-check-input" />
                                <label asp-for="BoolField1" class="form-check-label">Required bool value 1</label>
                            </div>
                        }
                        @if (ViewBag.collection.BoolField2)
                        {
                            <div class="form-group">
                                <input asp-for="BoolField2" type="checkbox" class="form-check-input" />
                                <label asp-for="BoolField2" class="form-check-label">Required bool value 2</label>
                            </div>
                        }
                        @if (ViewBag.collection.BoolField3)
                        {
                            <div class="form-group">
                                <input asp-for="BoolField3" type="checkbox" class="form-check-input" />
                                <label asp-for="BoolField3" class="form-check-label">Required bool value 3</label>
                            </div>
                        }
                    </div>
                </div>

            </div>
            @if (User.Identity.Name == ViewBag.userName || User.IsInRole("Admin"))
            {
                <input type="submit" class="btn btn-primary" value="Save" />
            }
            
        </form>
        <div class="mt-5">
            <div>
                @foreach (var item in ViewBag.comments)
                {
                    <div>
                        <b class="d-inline-block">@item.CommentAuthor: </b>
                        <p class="d-inline-block">@item.UserComment</p>
                    </div>

                }
            </div>

            <div id="commentroom"></div>

            <form id="form" asp-action="AddComment" asp-controller="Collections" method="post" enctype="multipart/form-data">
                <input class="form-control" id="userName" value="@User.Identity.Name" hidden />
                <input class="form-control" id="fileId" value="@Model.Id" name="id" hidden />
                <textarea class="form-control mt-2" type="text" id="comment" name="comment"></textarea>
                <input type="submit" id="sendBtn" value="Send" class="btn btn-primary mt-1" />
            </form>
        </div>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/comments.js"></script>

        <script>
            $(document).ready(function () {
                $('#sendBtn').click(function (e) {
                    e.preventDefault();
                    var id = $('#fileId').val();
                    var comment = $('#comment').val();
                    $.ajax
                        ({
                            type: "POST",
                            url: '/Collections/AddComment',
                            data: { "comment": comment, "id": id },
                            success: function (data) {
                                $('#form')[0].reset();
                            }
                        });
                });
            });
        </script>

        <script>
            window.addEventListener('load', function () {
                baguetteBox.run('.baguetteBoxOne');
            });
        </script>
</body>
}


