@model IEnumerable<CourseProjectItr.Models.Collection>
@using CloudinaryDotNet
@using CloudinaryDotNet.Actions

@{
    Account account = new Account(
            "dnntqrull",
            "841957784659873",
            "7QkkV8FwsWEBz5f8eGowbjfDj6k"
            );
    Cloudinary cloudinary = new Cloudinary(account);
}

<a asp-action="Create" asp-route-userName="@Model.First().OwnerEmail" class="btn btn-primary m-2">Create New</a>
@if (Model.ToList()[0].Name != null)
{
    <table class="table">
        <tr><td></td><td>Collection name</td><td>Theme</td><td>Description</td><td></td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Avatar" alt="Avatar" width="45" />
                </td>
                <td>
                    <a asp-action="CollectionItems" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    <label>@item.Theme</label>
                </td>
                <td>
                    <label>@item.Description</label>
                </td>
                <td>
                    <a asp-action="Add" asp-route-id="@item.Id" class="btn btn-primary">Add</a>
                    <a asp-action="DeleteCollection" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
}
